################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/resource.h
/cellEngine.vcxproj.user
/cellEngine.vcxproj.filters
/cellEngine.vcxproj
/cellEngine.sln
/cellEngine.aps
/src/glad.c
/Release
/lib
/include/KHR
/include/glm
/include/GLFW
/include/glad
/.vs/cellEngine/v16
/Debug
/include
/examples
